*{
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    background: #edeef0;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: #ffffff;
    height: 50px;
    width: 100%;
}

main {
    margin: auto;
    margin-top: 40px;
    width: 850px;
    height: 400px;
    border-radius: 6px;
    background: #ffffff;
}

ol {
    list-style-type: none;
    margin-left: 35px;
    margin-top: 45px;
}
li {
    margin-bottom: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma;
    font-weight: bold;
    background: rgba(255, 255, 255, 0);
    width: 160px;
    height: 50px;
    border: 2px solid #2787f5;
    border-radius: 10px;
}

button:active {
    background: rgba(81, 129, 184, 10);
    border: 2px solid #5181b8;
    color: white;
}

.info {
    font-family: Tahoma;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 50px;
}

.font {
    font-family: Tahoma;
    font-size: 20px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.img {
    border: 1px solid #2787f5;
    margin-top: 35px;
    margin-left: 35px;
    border-radius: 210px;
    width: 200px;
    height: 200px;
}

.tab {
    overflow: hidden;
}

.betweenbut {
    padding: 3px;
}

.but {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-left: 30px;
    width: 500px;
}

.tabcontent {
    display: none;
}

.profilecontent {
    display: none;
}

.butnline {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainblock {
    display: flex;
    flex-direction: column;
}

.imgnname {
    display: flex;
    flex-direction: column;
}

.underimg {
    margin-left: 55px;
    margin-top: 20px;
}

.line {
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
    width: 500px;
    border: 1px solid #edeef0;
}

.lineunder {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    border: 1px solid #edeef0;
    width: 210px;
}

.maincontainer {
    display: flex;
    flex-direction: row;
}

.tell {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 30px;
}
.tellcol {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
}

.progressbar {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    width: 510px;
}

.head_left {
    justify-content: center;
    display: flex;
    flex: 1 0 450px;
    margin-top: 8px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.head_right {
    justify-content: center;
    display: flex;
    flex: 1 0 400px;
    margin-top: 10px;
}

.iq {
    font-family: Tahoma;
    font-size: 20pt;
    font-weight: bolder;
    color: black;
}

.managers {
    font-family: Tahoma;
    font-size: 20pt;
    font-weight: bold;
    color: #2787f5;
}

.vezde {
    font-family: Tahoma;
    font-size: 15pt;
    color: #000000;
}

.butfl {
    display: flex;
    justify-content: center;
}